THINGS_DB_PATH="/Users/you/Library/Group Containers/JLMPQHK86H.com.culturedcode.ThingsMac/ThingsData-XXXX/Things Database.thingsdatabase/main.sqlite"
THINGS_API_HOST="127.0.0.1"
THINGS_API_PORT="3000"
WHISPER_INFERENCE_URL="http://127.0.0.1:8080/inference"
